<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.horizon.OrionConnection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:hapticFeedbackEnabled="true"
        android:theme="@style/Theme.OrionApp">
        <activity 
            android:name=".EditRoutines"
            android:screenOrientation="portrait"/>
        <activity 
            android:name=".EditGroups"
            android:screenOrientation="portrait" />
        <activity 
            android:name=".EditMainConnection"
            android:screenOrientation="portrait" />
        <activity 
            android:name=".AddGroup"
            android:screenOrientation="portrait" />
        <activity 
            android:name=".Offline"
            android:screenOrientation="portrait" />
        <activity 
            android:name=".PairGroup"
            android:screenOrientation="portrait" />
        <activity 
            android:name=".Add"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewRoutine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PCInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PowerOptions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Control"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pair"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Routines"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Groups"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>